<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CS182 Final Project</title>

	<!-- Bootstrap -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
    	<h1>CSP</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
    </div>

    <h1>Best Food Choice given your constraints</h1>
    <form action="" method="POST">
    <h4>Enter the maximum Calorie Intake</h4>  
        <input type="text" name="calories" placeholder="i.e. 2000">
    <h4>Enter the minimum Protein Intake</h4>  
        <input type="text" name="protein" placeholder = "i.e. 30"=>
    <h4>Enter the maximum Carb Intake</h4>  
        <input type="text" name="carb" placeholder="i.e. 50">
    <h4>Enter the maximum Fat Intake</h4>  
        <input type="text" name="fat" placeholder="i.e. 50">
        <input type="submit" name="my-form" value="Send">
    </form>
</body>
</html>